@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    color: darkblue;
}

.h2,
h2 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    color: darkblue;

}

/* ------------------------- */
.container {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;

}

.banner-left {
    width: 25%;
    height: 100vh;
    background: url('./image/Rachel.jpg') center no-repeat, black;
    background-size: cover;
    position: fixed;
    z-index: 1;
}


.slider-dots {
    display: flex;
    flex-direction: column;
    /* align-self: flex-start; */
    margin-left: 95%;
    margin-top: 10%;

}

.slider-dots li {
    /* width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background: #000;
    border-radius: 50%; */
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid black;
    margin-top: 8px;
    background-color: black;

}

.banner-left h1 {
    font-size: 5rem;
    text-align: right;
    line-height: 6rem;
    font-weight: 900;
    /* text-shadow: 3px 3px black; */
    color: dimgray;
    line-height: 7rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: gold;
    letter-spacing: .2rem;

}


/* .name { */
/* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: gold;
    text-shadow: 3px 3px transparent; */
/* text-shadow: 3px 3px pink; */


.wrap-title {
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 10px;
    /* flex-wrap: wrap; */

}


.menu-icon {
    position: absolute;
    width: 3rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: black;
    box-shadow: 0 12px black, 0 24px black;
    top: 50px;
    left: 25px;
    z-index: 1;
    cursor: pointer;
}


.star {
    position: absolute;

}



.star1 {
    left: 50px;
    top: 50px;
    animation: star1 1.5s ease-in-out infinite;
    animation-fill-mode: backwards;

}



.star::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid yellow;
    cursor: pointer;
}

.star::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid yellow;
    cursor: pointer;
}


@keyframes star1 {
    0% {
        top: 40px;
    }

    50% {
        top: 50px;
    }

    100% {
        top: 40px;
    }
}

/*--------------- right content --------------*/


.banner-right {
    width: 75%;
    height: 100vh;
    background: url("./image/index-img-5.png") center repeat, black;
    background-size: contain;
    background-size: 100%;
    position: fixed;
    right: 0;
    z-index: 1;
    transition: .5s;
    display: flex;
    justify-content: center;


}

.star2 {
    right: 250px;
    animation: star2 1.5s ease-in-out infinite;
    animation-fill-mode: backwards;
}

.moon {
    width: 80px;
    height: 80px;
    right: 80px;
    border-radius: 100%;
    box-shadow: 15px 15px 0 0 yellow;
    position: absolute;
    animation: moon 1.5s ease-in-out infinite;
    animation-fill-mode: backwards;
}


@keyframes star2 {
    0% {
        bottom: 200px;
    }

    50% {
        bottom: 190px;
    }

    100% {
        bottom: 200px;
    }
}

@keyframes moon {
    0% {
        bottom: 250px;
    }

    50% {
        bottom: 240px;
    }

    100% {
        bottom: 250px;
    }
}

/* ---Main Content--- */

.to-med {
    position: relative;
    width: 1px;
    height: 1px;
    /* 對其用比它撐開 */
    display: none;
    transition: .5s;
}

.to-med::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    border-left: dotted 10px yellow;
    z-index: 1;
    transition: .5;
}

.to-med::after {
    content: '';
    position: absolute;
    top: 30vh;
    left: -50px;
    /* before 再減3% */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    background-size: contain;
    background-color: black;
    border: 5px solid yellow;
    z-index: 1;
    transition: .5;
}

.tik {
    position: absolute;
    background-color: #fff;
    top: calc(30vh + 20px);
    z-index: 2;
    left: 48%;
    height: 38px;
    width: 4px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 97%;
    transform-origin: 50% 97%;
    -webkit-animation: grdAiguille 2s linear infinite;
    animation: grdAiguille 2s linear infinite;
}

@keyframes grdAiguille {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}







/* ---Resume---- */
/* ---Resume---- */
/* ---Resume---- */
.resume {
    width: 70%;
    color: #eee8aa;
    margin-top: 10vh;
}

.divider {
    border-bottom: 1px solid #eee8aa;
    width: 80%;

}

.resume h1 {
    color: #eee8aa;
}

.divider h2 {
    margin-top: 1.5rem;
    margin-bottom: 2px;
    color: #eee8aa;
}


.intro {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.2rem;

}

.intro-points {
    /* display: none; */
    transition: .5s;
}

.skill-title {
    width: 100%;
    font-size: 1.5rem;
    height: 1.5rem;
    transition: .5s;
}

.lan-wrap,
.skill-wrap {
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    width: 100%;
}

.points {
    transform: scale(1);
}


.web-design {
    height: 30vh;
}

.h3 {
    fill: palegoldenrod;
    font-size: 1.2rem;
    opacity: .8;
}


.circle {
    stroke-width: 3px;
    stroke: gold;
    fill: rgb(2, 2, 116);
    animation: circle--animation 2s linear backwards;
}

@keyframes circle--animation {
    0% {
        stroke-dashoffset: 340px;
    }

    100% {
        stroke-dashoffset: 0px;
    }
}




/* ---Box 1---- */


.image-wrap {
    display: flex;
    height: 400vh;
    width: 100vw;
    position: absolute;
    flex-wrap: wrap;
    justify-content: flex-end;
    transition: 0.5s;
    top: 0;
}

.box {
    width: 75%;
    height: 100vh;
    /* align with banner-right */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: blanchedalmond;
    /* 要讓文字貼在下面 */
}

.box span {
    width: 100%;
    border: 1px red solid;
}


.box1 {
    background-color: blanchedalmond;
}

/* test */
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* --------------BOX 2---------------- */


/* -------Menu--------- */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.nav-icon {
    position: absolute;
    display: flex;
    bottom: 20%;
    left: 20%;
    align-items: flex-end;
    color: #eee8aa;


}

.nav-icon h2 {
    color: #eee8aa;
    cursor: pointer;

}

.nav-icon span {
    margin-bottom: 15px;
    margin-left: 5px;
    cursor: pointer;

}


@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/* ---Mobile  */
/* ---Mobile  */
/* ---Mobile  */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    h2 {
        font-size: 1rem;
        line-height: 1rem;
    }

    .container {
        display: inline-block;
        width: 100%;
    }

    .banner-left {
        width: 100%;
        height: 150px;
        background: dimgray;
        /* background: url('./image/Rachel.jpg') center no-repeat, black; */
        position: fixed;
        z-index: 2;
    }

    .banner-left h1 {

        color: black;

    }

    .slider-dots {
        display: none;
    }

    .star1 {
        left: 0px;
        top: -50px;
    }


    .wrap-title {
        width: 100%;
        height: 100%;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: center;
    }

    .wrap-title h1 {
        margin-left: 10px;
    }

    .wrap-title h1:nth-child(3) {
        display: none;
    }

    .wrap-title h1:nth-child(1) {
        margin-right: 10px;
    }

    .banner-right {
        width: 100%;
        /* height: 70%; */
        margin-top: 150px;

    }

    .resume {
        width: 80%;
        margin-top: 30px;
    }

    .points {
        transform: scale(1);
    }

    .skill-wrap {
        flex-wrap: wrap;
    }

    .box {
        width: 100%;
        display: none;
    }

    .star2 {
        height: 100px;
    }




}