* {
    /* border: 1px red solid; */
    color: #F9F8E8;
    font-size: 16px;
    /* letter-spacing: 0.5rem; */
}

button{
    border:0!important;
    transition: .5s;
}

button:hover,
button:focus {
    outline:0!important;
    box-shadow: rgba(255, 255, 255, 0.5) 5px 5px 15px;

}

.close:hover{
    outline:0!important;
    box-shadow: none;

}

body {
    cursor: url(./image/med-cursor.png), auto;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(7, 71, 191, 1) 50%, rgba(213, 212, 158, 1) 100%);
}

.hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(7, 71, 191, 1) 50%, rgba(213, 212, 158, 1) 100%);
    width: 100vw;
}


.animation {
    position: relative;
    overflow: hidden;
    height: 90vh;

}

.breath-1::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 1;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px rgb(247, 247, 170);
    z-index: 1;
}

.breath-1::after {
    content: '';
    position: absolute;
    top: -10%;
    left: 2%;
    opacity: 1;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px rgb(247, 247, 170);
    z-index: 1;
}


.sky {
    width: 100vw;
    height: 60%;

}

.sun {
    position: absolute;
    right: 200px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    opacity: .8;
    animation: rise 3s ease forwards, glow 3s linear forwards infinite;
    box-shadow: 0 0 40px 6px #f1ec0d;
}

@keyframes rise {
    0% {
        top: 80%;
    }

    100% {
        top: 30%;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 40px 2px #f1ec0d;
    }

    50% {
        box-shadow: 0 0 40px 8px #f1ec0d;
    }

    75% {
        box-shadow: 0 0 40px 15px #f1ec0d;
    }

    100% {
        box-shadow: 0 0 40px 8px #f1ec0d;
    }
}

/* --------------- Modal --------*/

.modal-dialog{
 max-width: 800px!important;
}

.modal-body{
    min-height: 700px!important;
   }

.modal-content{
    background-color: rgba(5,27,51,.9)!important;
    border-radius: 24px!important;

    
    
}

.close-customize{
    opacity: 1!important;
    top: 12px;
    right:12px;
    position: absolute;
    margin:0!important;
    padding:0!important;

}



.modal-header{
    border-bottom: none!important;
    
}

.modal-title{
    margin: 0 auto;
}

.modal-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url("./image/med-place-sea2.jpg");
    background-size: 120%;
    background-position: 10% 10%;
    margin: 0 auto;
    position:relative;
    animation: bg 3s infinite;

}

.modal-img::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    border-radius: 50%;
    background: url("./image/pexels-photo-2387793.jpeg");
    background-size: cover;
    background-position: 10% center;
    /* opacity: .5; */
    filter: opacity(0.5);
    animation: bg2 3s infinite;
}

@keyframes bg{
    0%{
        background-position: 12% center;
    }
    50%{
        background-position: 15% center;
    }
    100%{
        background-position: 12% center;

    }
}

@keyframes bg2{
    0%{
        background-position: 15% center;
        opacity: .5;
    }
    50%{
        background-position: 12% center;
        opacity: .4;
    }
    100%{
        background-position: 15% center;
        opacity: .5;

    }
}


.select-min{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #183E62;
    color: #FFFDDB;
}


.start-med{
    width: 300px;
    height: 70px;
    border-radius: 70px;
    background:#3A97A0;
    color: #FFFDDB;

}




/* ----sea animation--- */


.sea {
    width: 100vw;
    /*   background: radial-gradient(at 0% 0%, red, darkred, #400, #100); */
    height: 50%;
    border-radius: 5px;
    position: relative;
    transform: translate3d(0, 0, 0);
    
    /* border: 1px solid red; */

}


.sea .wave {
    position: absolute;
    top: 70%;
    width: 3000px;
    height: 3000px;
    
    transform-origin: center center;
}

.flow-1 {
    animation: flow-1 linear infinite;

}


.sea .wave:nth-of-type(1) {
    animation-duration: 30s;
    left: -40%;
    background-image: linear-gradient(to right top, #04695c, #005ed4, #0081cb, #009dae, #00b493);
    border-radius: 35%;
    opacity: .6;

}

.sea .wave:nth-of-type(2) {
    animation-duration: 25s;
    left: 0%;
    background-image: linear-gradient(to right top, #009dae, #00b493,#0427b3, #005ed4, #0081cb);
    border-radius: 40%;
    opacity: .5;
}

.sea .wave:nth-of-type(3) {
    animation-duration: 25s;
    right: -10%;
    
    background-image: linear-gradient(to left, #081b68, #564a8b, #866ebe, #0081cb, #cf50ba);
    border-radius: 33%;
    opacity: .6;
}


@keyframes flow-1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*---Content---*/

/* .content::before {
    content: '';
    width: 100px;
    height: 500px;
    background: url(./image/med-left-light.jpg) center;
    background-size: auto 100%;
    position: absolute;
    top: 500px;
    left: 100px;
}

.content::after {
    content: '';
    width: 20px;
    height: 300px;
    background: url(./image/med-left-light.jpg);
    background-position: 30% 50%;
    background-size: auto 100%;
    position: absolute;
    top: 650px;
    left: 50px;
} */

/*---Main-+Choose place--*/

.tri-above {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-bottom: 5vw solid rgba(26, 35, 113);
    background-color: transparent;
    border-left: 100vw solid transparent;
    top: -5vw;
    /* 對應自己的高度 */
    left: 0;
}

.tri-below {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 15vh solid black;
    border-right: 100vw solid transparent;
    bottom: -15vh;
    /* 對應自己的高度 */
    left: 0;
    overflow: hidden;
}

.content {
    background:
        linear-gradient(180deg, rgba(26, 35, 113, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: 100vw;
    height: 60vh;
    position: relative;

}

.sec2-image {
    top: -3vw;

    background-color: transparent;
    /* align with triangle */
}

.sec2-image img {
    animation: floating ease-in-out infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    width: 50%;
    opacity: .3;
}

/* @keyframes floating {
    0% {
        transform: translate(0, 0);
    }


    33% {
        transform: translate(-8px, -8px);
    }

    66% {
        transform: translate(8px, -8px);
    }


    100% {
        transform: translate(0px, 0px);
    }
} */

@keyframes floating {
    0% {
        opacity: .2;
    }


    50% {
        opacity: .8;
    }


    100% {
        opacity: .2;
    }
}



li {
    list-style: none;
}

.anxiety li {
    animation: floating2 ease-in-out infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

@keyframes floating2 {
    0% {
        opacity: 1;
    }


    50% {
        opacity: .2;
    }


    100% {
        opacity: 1;
    }
}


.main {
    /* background: linear-gradient(180deg, rgba(39, 38, 41, 1) 0%, rgba(7, 71, 191, 1) 50%, rgba(213, 212, 158, 1) 100%); */

    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(7, 71, 191, 1) 50%, rgba(213, 212, 158, 1) 100%);
    width: 100vw;
    height: 100vh;
}

.img-container {
    width: 100vw;
    min-height: 500px;
    overflow: hidden;
}

.card-wrap a {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 1s;
    opacity: .5;
    left:200px;
}

.card-wrap {
    transition: 1s;
}

.card-img {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.card-img img {
    object-fit: cover;
    height: 100%;
}



.card-body {
    background-color: black;
}


.dots {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;

}

.dots-wrap li {
    transition: .5s;
}


/* ---HowToStory----- */

.how-to {
    background: linear-gradient(180deg, rgba(213, 212, 158, 1) 0%, rgba(7, 71, 191, 1) 30%, rgba(1, 7, 102, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.box {
    height: 300px;
    opacity: .5;
    overflow: hidden;
    transition: .5s ease-in;

}

.box1::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s ease-in;
    background: url('./image/md-s3-box1.jpg') no-repeat center/cover;
    overflow: hidden;
}

.box2::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s ease-in;
    background: url('./image/md-s3-box2.jpg') no-repeat center/cover;
}

.box3::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s ease-in;
    background: url('./image/md-s2-place-1.jpeg') no-repeat center/cover;
}

.box4::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s ease-in;
    background: url('./image/md-s2-place-3.jpg') no-repeat center/cover;
}

.box5::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s ease-in;

    background: url('./image/md-s3-box3.jpg') no-repeat center/cover;
}

.box6::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('./image/md-s2-place-2.jpg') no-repeat center/cover;
    transition: .5s ease-in;

}

.box7::after {
    position: absolute;
    /* display: block; */
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('./image/md-s3-box4.jpg') no-repeat center/cover;
    transition: .5s ease-in;
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover,
.box7:hover {
    opacity: 1;
}

.box1:hover::after,
.box2:hover::after,
.box3:hover::after,
.box4:hover::after,
.box5:hover::after,
.box6:hover::after,
.box7:hover::after {
    transform: scale(1.1);
}

.box-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: .5s;
    color: #ccc;
}




/* ----Last Section----- */

.last-sec {

    background: radial-gradient(farthest-corner at 20% 10%, rgba(213, 212, 158, 1) 0%, rgba(7, 71, 191, 1) 30%, rgba(1, 7, 102, 1) 50%, rgba(0, 0, 0, 1) 100%);

}

.last-sec::before {
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: glow-2 ease-in-out infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}



@keyframes glow-2 {
    0% {
        opacity: 0;
    }


    50% {
        opacity: .5;
    }


    100% {
        opacity: 0;
    }
}

.footer-pic {
    background: url(./image/med-left-light.jpg) no-repeat center/cover;
    height: 80vh;
    opacity: .6;
}

.footer-text {
    top: 10%;
    left: 50%;
    width: 40vw;
    height: 50vh;
    background: rgba(0, 0, 0, .5);
    border-radius: 2%;
    z-index: 1;
}



/* ----footer----- */

.footer-copyright {
    background: #000;

}

.footer-copyright p {
    color: grey;
}


/* ------Mobile------ */

@media screen and (max-width: 992px) {
    .hero {
        height: 1500px;
    }

    .animation {
        height: 1000px;
    }

    .content {
        height: 500px;
    }

    .tri-above {

        border-bottom: 80px solid rgba(26, 35, 113);
        background-color: transparent;
        border-left: 100vw solid transparent;
        top: -80px;
        /* 對應自己的高度 */
        left: 0;
    }

    .main {
        height: 700px;
    }

    .last-text {
        margin-top: 30px;
        z-index: 1;
        left: 5%;
        width: 90%;
    }

    .sea .wave {
      
        top: 50%;
      
    }



@media screen and (max-width: 768px) {
    .hero {
        height: 1000px;
    }

    .display-1 {
        font-size: 3rem !important;

    }

    h1,
    .display-3,
    .display-2 {
        font-size: 2rem !important;

    }



    .sun {
        width: 200px;
        height: 200px;
        right: 0;
        left: 50%;
        /* translate: (-50%, 0); */
    }

    .animation {
        height: 600px;

    }

    .sea .wave {
      
        top: 40%;
      
    }


    .sea .wave:nth-of-type(1) {
        left: -100%;
    
    }
    
    .sea .wave:nth-of-type(2) {
        left: -200%;

    }
    
    .sea .wave:nth-of-type(3) {
        right: -100%;
        
    }

    .select-min svg{
        display: none;
    }


    .anxiety {
        flex-wrap: wrap;
    }

    .anxiety li {
        top: 0 !important;
    }


    .main {
        margin-top: 100px;
    }

    .place-title-1 {
        top: 0% !important;
        right: 0%;
    }

    .place-title-2 {
        top: 40px !important;
        right: 0%;
        text-align: right;
    }

    .card-wrap {
        left: -120px!important;
        
    }

    .card {
        width: 250px !important;
        margin-right: 10px!important;
    }

    .sec2-image{
        top: 30%;
        opacity: .5;
    }

    .sec2-image img{
        width: 80%;
    }

    .title{
        font-size: 1rem;
        margin-top: 0px!important!important;
        text-align: center;
    }




}